html
{
	background-color: #AAAAAA;
}

#page
{
	z-index: 1;
	width: 968px;
	margin: -4px auto;
}

._page.f3s_top
{
	width: 968px;
	background-image: url("../images/page-sprite.png");
	overflow: hidden;
	height: 10px;
	background-position: left top;
}

._page.f3s_mid
{
	background-image: url("../images/page-sprite.png");
	overflow: visible;
	background-position: -968px top;
	width: 968px;
	min-height: 650px;
	padding-bottom: 18px;
}

._page.f3s_bot
{
	width: 968px;
	background-image: url("../images/page-sprite.png");
	overflow: visible;
	height: 9px;
	background-position: -1936px top;
	padding-bottom: 18px;
}

#u813
{
	height: 0px;
	position: relative;
	width: 0px;
	margin-top: 56px;
	left: 4px;
}

#ppu193
{
	width: 0.01px;
	position: relative;
	margin-right: -939px;
	margin-top: 3px;
	left: 16px;
}

#pu193
{
	width: 0.01px;
	position: relative;
}

#u193
{
	z-index: 3;
	width: 936px;
	margin-right: -936px;
}

#u224-6
{
	z-index: 5;
	width: 448px;
	min-height: 34px;
	margin-right: -448px;
	margin-top: 25px;
	left: 105px;
}

#pmenuu229
{
	width: 0.01px;
	position: relative;
	margin-right: -465px;
	margin-top: 151px;
	left: 444px;
}

#menuu229
{
	z-index: 12;
	width: 465px;
	margin-right: -465px;
}

#u816
{
	width: 116px;
	min-height: 48px;
	margin-right: -116px;
}

#u817
{
	width: 116px;
	padding-bottom: 25px;
}

#u817:active
{
	margin: 0px;
}

#u819-4
{
	width: 76px;
	min-height: 11px;
	padding-top: 12px;
	padding-right: 30px;
	margin-right: -106px;
	top: 12px;
	left: 5px;
}

#u817:active #u819-4
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 11px;
	margin: 0px -106px 0px 0px;
}

#u251
{
	width: 116px;
	min-height: 48px;
	margin-right: -116px;
	left: 116px;
}

#u252
{
	width: 116px;
	padding-bottom: 25px;
}

#u817.MuseMenuActive,#u252:active
{
	margin: 0px;
}

#u255-4
{
	width: 76px;
	min-height: 11px;
	padding-top: 12px;
	padding-right: 30px;
	margin-right: -106px;
	top: 12px;
	left: 5px;
}

#u817.MuseMenuActive #u819-4,#u252:active #u255-4
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 11px;
	margin: 0px -106px 0px 0px;
}

#u230
{
	width: 116px;
	min-height: 48px;
	margin-right: -116px;
	left: 232px;
}

#u233
{
	width: 116px;
	padding-bottom: 25px;
}

#u252.MuseMenuActive,#u233:active
{
	margin: 0px;
}

#u234-4
{
	width: 76px;
	min-height: 11px;
	padding-top: 12px;
	padding-right: 30px;
	margin-right: -106px;
	top: 12px;
	left: 5px;
}

#u252.MuseMenuActive #u255-4,#u233:active #u234-4
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 11px;
	margin: 0px -106px 0px 0px;
}

#u233.MuseMenuActive #u234-4
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 11px;
	margin: 0px -106px 0px 0px;
}

#u280
{
	width: 117px;
	min-height: 48px;
	margin-right: -117px;
	left: 348px;
}

#u281
{
	width: 117px;
	padding-bottom: 25px;
}

#u233.MuseMenuActive,#u281:active
{
	margin: 0px;
}

#u283-4
{
	width: 77px;
	min-height: 11px;
	padding-top: 12px;
	padding-right: 30px;
	margin-right: -107px;
	top: 12px;
	left: 5px;
}

#u281:active #u283-4
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 11px;
	margin: 0px -107px 0px 0px;
}

#u281.MuseMenuActive #u283-4
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 11px;
	margin: 0px -107px 0px 0px;
}

#u817.MuseMenuActive #u819-4 p,#u252.MuseMenuActive #u255-4 p,#u233.MuseMenuActive #u234-4 p,#u281.MuseMenuActive #u283-4 p
{
	padding-bottom: 0px;
}

#master-footer
{
	width: 0.01px;
	margin-top: 198px;
	position: relative;
}

#menuu867
{
	z-index: 38;
	width: 472px;
	margin-right: -472px;
	left: 467px;
}

._menuu867.f3s_top
{
	height: 31px;
	width: 472px;
	padding-bottom: 5px;
}

#u896
{
	width: 89px;
	min-height: 31px;
	margin-right: -89px;
	top: 1px;
	left: 1px;
}

#u897
{
	width: 89px;
	padding-bottom: 16px;
}

#u281.MuseMenuActive,#u897:active
{
	margin: 0px;
}

#u898-4
{
	width: 75px;
	min-height: 11px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -79px;
	top: 8px;
	left: 5px;
}

#u903
{
	width: 105px;
	min-height: 31px;
	margin-right: -105px;
	top: 1px;
	left: 90px;
}

#u904
{
	width: 105px;
	padding-bottom: 16px;
}

#u897.MuseMenuActive,#u904:active
{
	margin: 0px;
}

#u907-4
{
	width: 91px;
	min-height: 11px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -95px;
	top: 8px;
	left: 5px;
}

#u889
{
	width: 92px;
	min-height: 31px;
	margin-right: -92px;
	top: 1px;
	left: 195px;
}

#u890
{
	width: 92px;
	padding-bottom: 16px;
}

#u904.MuseMenuActive,#u890:active
{
	margin: 0px;
}

#u891-4
{
	width: 78px;
	min-height: 11px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -82px;
	top: 8px;
	left: 5px;
}

#u882
{
	width: 181px;
	min-height: 31px;
	margin-right: -181px;
	top: 1px;
	left: 287px;
}

#u885
{
	width: 181px;
	padding-bottom: 16px;
}

#u890.MuseMenuActive,#u885:active
{
	margin: 0px;
}

#u885.MuseMenuActive
{
	margin: 0px;
}

#u888-4
{
	width: 167px;
	min-height: 11px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -171px;
	top: 8px;
	left: 5px;
}

#u958-3
{
	z-index: 63;
	width: 472px;
	min-height: 33px;
	margin-right: -472px;
	margin-top: 1px;
}

#actualBody
{
	background-image: -webkit-linear-gradient(left,#FFFFFF,#F0E8E8);
	position: relative;
	top: 199px;
	width: 916px;
	min-height: 209px;
	padding: 10px 10px 0 10px;
	
}
